
/*whole body tag*/
body {
    background-color: dodgerblue;

}

/*Whole header tag*/
header {

}

/*whole main tag*/
main {

}

/*whole footer tag*/
footer {

}

.logincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginform {
    margin: auto;
    height: 400px;
    width: 400px;
    background-color: white;
   /* align-items: center;
    justify-self: center;*/
}
